:root {
  --ifm-color-primary: #2e7d32;
  --ifm-color-primary-dark: #29702d;
  --ifm-color-primary-darker: #266a2a;
  --ifm-color-primary-darkest: #1f5722;
  --ifm-color-primary-light: #338537;
  --ifm-color-primary-lighter: #368b3a;
  --ifm-color-primary-lightest: #3d9c41;
  --ifm-code-font-size: 95%;
}

[data-theme='dark'] {
  --ifm-color-primary: #66bb6a;
  --ifm-color-primary-dark: #4caf50;
  --ifm-color-primary-darker: #43a047;
  --ifm-color-primary-darkest: #388e3c;
  --ifm-color-primary-light: #81c784;
  --ifm-color-primary-lighter: #a5d6a7;
  --ifm-color-primary-lightest: #c8e6c9;
}
